.pulse {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    border-left: 1px solid;
    animation: pulse 1s infinite alternate linear;
}

@keyframes pulse {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.ball {
    width: 100px;
    height: 100px;
    border-left: 1px solid blue;
    border-right: 1px solid red;
    border-top: 1px solid green;
    border-bottom: 1px solid yellow;
    border-radius: 50%;
    animation: ball 1s infinite linear alternate;
}

@keyframes ball{
    from{
        transform: translateX(0) rotate(0) scale(1);
    }
    to{
        transform: translateX(1000px) rotate(360deg) scale(1.5);
    }
}