table{
    /* background-color: #eee; */
    padding: 10px;
    border-collapse: collapse;
}

th, td{
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
}

tr:first-child{
    background-color: #fff;
}

tr:last-child{
    background-color: #fff;
}

/* tr:nth-child(2){
    background-color: #555;
    color: white;
} */

tr:nth-child(even){
    background-color: #555;
    color: white;
}

tr:nth-child(odd){
    background-color: #eee;
}

tr:hover{
    background-color: blue;
}